/* Uncomment everything commented to CSS for the hide/show */
#roomimg {
padding: 0;
padding-bottom: 5px;
}



#roomimg .gallery {
width: 25em;
margin: 2em auto;

}

.gallery-item { 
  height: 180px;
  border: 5px solid #fff;
  float: left; 
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; 
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.gallery-item  p {
  float: left;
 /*position: relative;*/
 /*float: right;*/
 line-height: 1.5px;
}


.gallery-item:first-child {
margin-right: 2.762430939%;
}

.gallery-item img {
width: 100%;
height: 100%;
}


.img-title {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  /*opacity: 0.6;*/
  display: none; /* comment this out for CSS hover */
  background-color:#000; 
  /*font-family: MS Serif;*/

  /*transition: all 0.5s ease;*/
}

.img-title h5 {
    position: absolute;
    color: #fff;
    top: 33%; 
    width: 100%;
    text-align: center;
}



.img-title-active {
  position: absolute;
  /* top: %;
  margin: 0;*/
  margin-top: -100px;
  height: 25%;
  width: 100%;
  text-align: center;
  opacity: 0.6;
  display: block; /* comment this out for CSS hover */
  background-color:#000; 

  /*transition: all 0.5s ease;*/
}

.img-title-active > h5 {
    position: absolute;
    color: #fff; 
    width: 100%;
    text-align: left;
    font-size: 2em;
    opacity: 8; 
   overflow: scroll translateY;


}

 .img-title-active > h1 {
    position: absolute;
    color: #fff;
    /*top: 0px; */
    margin-top: -35px;
    /*margin-right: 50px;*/
    padding-right: 80px;
    width: 100%;
    text-align: right;
    font-size: 4em;
    opacity: 0.9;

}

.descRoom {
    width: 100%;
    height: auto;
    /*line-height: 1em;*/
    /*float:left;*/
    font-size: 20px;
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 150px; 

}
.descRoom ul > h4 {
    font-weight: bolder;
    border-bottom: solid 1px;
    padding:0;
    line-height: 1em;
    font-size: 15px;
    width: 90%;
    /*float: left;*/
}

.descRoom ul > li {
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 1em;
    margin-bottom: 2px;

}


#mainwrapper {
font: 10pt normal Arial, sans-serif;
height: 182px;
margin: 80px auto 0 auto;
text-align: center;
width: 660px;
}

/* Image Box Style */
#mainwrapper .box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 182px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 200px;
        -webkit-box-shadow: 1px 1px 1px 1px #ccc;
        -moz-box-shadow: 1px 1px 1px 1px #ccc;
        box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
    position: absolute;
    left: 0;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
        transition: all 300ms ease-out;
    left: 0;
}


/** Caption 1: Simple **/
#mainwrapper .box .simple-caption {
    height: 30px;
    width: 200px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Caption 2: Full Width & Height **/
#mainwrapper .box .full-caption {
    width: 170px;
    height: 170px;  
    top: -200px;
    text-align: left;
    padding: 15px;
}

/** Caption 3: Fade **/
#mainwrapper .box .fade-caption, #mainwrapper .box .scale-caption  {
    opacity: 0;
    width: 170px;
    height: 170px;
    text-align: left;
    padding: 15px;
}

/** Caption 4: Slide **/
#mainwrapper .box .slide-caption {
    width: 170px;
    height: 170px;  
    text-align: left;
    padding: 15px;
    left: 200px;
}

/** Caption 5: Rotate **/
#mainwrapper #box-5.box .rotate-caption {
    width: 170px;
    height: 170px;  
    text-align: left;
    padding: 15px;
    top: 200px;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#mainwrapper .box .rotate {
    width: 200px;
    height: 400px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#mainwrapper .box .scale-caption h3, #mainwrapper .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 170px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}

#mainwrapper .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;    
    transition-delay: 300ms;
}

#mainwrapper .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;    
    transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#mainwrapper .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#mainwrapper .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#mainwrapper .box:hover .fade-caption, #mainwrapper .box:hover .scale-caption  {
    opacity: 1;
}

/** Slide Caption :hover Behaviour **/
#mainwrapper .box:hover .slide-caption {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}
#mainwrapper .box:hover img#image-4 {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
}

/** Rotate Caption :hover Behaviour **/
#mainwrapper .box:hover .rotate {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/** Scale Caption :hover Behaviour **/
#mainwrapper .box:hover #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#mainwrapper .box:hover .scale-caption h3, #mainwrapper .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}
 
  #accom-title {
    /*opacity: 0.8;*/
  background: #17a2b8;
  color: #fff;
  margin: -35px -30px 0;
  padding: 5px;  
  overflow: hidden; 
  line-height: 4px; 
  padding-left: 30px; 
  margin-bottom: 1em;
  }

#accom-title .pagetitle > h1 {
  color: #fff;
}
#bread {
  padding: 0;

 } 
 #bread  ol {
 margin-left: 0px;


}
 
   /* SEARCH AVAILABIITY
================================================== */

#sidebarRight-wrap {
  background: #17a2b8;
  color: #fff;
  /*margin: -35px -30px 0;*/
  padding-top:0px; 
  /*margin-left: 0px; */
  padding-left: 30px;
  /*padding-right: 10px;*/
  /*overflow: hidden; */
  line-height: 6px; 
  padding-bottom:30px;
  border-bottom: solid 11px #02aace;

  /*height: 8em;*/
  }
 #sidebarRight-wrap .block > h3 {
  color: #fff;
  border-bottom: solid 3px #02aace;
  margin-left: -15px;

 }

  #sidebarRight-wrap .col-md-10 {
    /*float: center;*/
    margin-left: .5em;
    margin-right: .5em;
    /*padding-left: 30px;*/

  }
 
 #menuSm  { 
    /*width: 97%;  */
    height: 15px;  
    position: fixed;
  }

  #menuSm .container { 
    width: 100%;
    margin: 0 auto;

    background-color: #17a2b8;
  }

  #menuSm .sm-ul {
    list-style: none;
    display: inline; 
    position: relative;
    float: right; 
    text-align: center; 
    top:-12px;

  }

 .sm-ul > .navbar-nav >  li {
    position: relative;
    float: left;  
    height: 36px;
       
  }
  .sm-ul > .navbar-nav >  li:hover {
    height: 36px;
    background: #17a2b8;
}

   
 
  .sm-ul > .navbar-nav >  li > a {
    color: #fff; 
    font-size: 15px;
    text-decoration: none; 
  }

/*   .sm-ul li > a {
    color: #fff; 
    font-size: 15px;
    text-decoration: none; 
  }
*/

.sm-ul .navbar-nav > .active > a,
.sm-ul .navbar-nav > .active > a:hover,
.sm-ul .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #000;
}

#menuSm .navbar-toggle:hover,
#menuSm .navbar-toggle:focus {
  color: #fff;
  background-color: #000;
}




  @media(max-width:767px){
   .sm-ul > .navbar-nav >  li {
    position: relative;
    float: left;  
    height: 36px;
       
  }
  .sm-ul > .navbar-nav >  li:hover {
    height: 36px;
    background: #000;
}

   
 
  .sm-ul > .navbar-nav >  li > a {
    color: #fff; 
    font-size: 15px;
    text-decoration: none; 
  }
  }
 
 #menuSm .sm-text {
    font-size: 1.7em; 
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;  
    padding-right: 8px;
    color: #fff; 
 }
 
 
 #menuSm .carttxt{
  background: #0000ff;
  border-radius:4px;
  padding: 1px;
 }

 #menuSm .carttxtactive{ 
    position: absolute;
    /*padding-left: 4px;*/
    display: inline-block; 
    font-weight: bold;
    /*margin-left: 1px;*/
    margin-top: -3px; 
    background-color: #d9534f;
    /*border: 1px solid #000;*/
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    padding: 2px;
  /*padding: 1px;*/
  /*opacity: 0.5;*/
 }
 